{% extends 'main/base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <h3 style="font-family: 'Geneva', sans-serif"; color: blue; margin-bottom: 20px">Main tasks</h3>
    {% if tasks %}
        {% for element in tasks %}
            <div class="alert alert-warning mt-2" style="background-color:rgba(139, 0, 0, 1); box-shadow: 0 0 10px rgba(128, 128, 128,0.6); color: aqua;">
                <h6>{{ element.title }}</h6>
                <p>{{ element.task }}</p>
            </div>
        {% endfor %}
    {% else %}
        <p>No entries</p>
    {% endif %}
{% endblock %}